@media (max-width: 768px) {
    .land-space-box-wrapper {
       
    }
}


@media screen and (max-width: 768px) {
    .service-content {
        flex-direction: column; 
        align-items: center; 
        gap: 20px;
    }

    .service-text {
        max-width: 100%; 
        text-align: center; 
    }

    .service-text h2 {
        font-size: 30px; 
        text-align: center; 
    }

    .service-text p {
        font-size: 14px; 
        text-align: center; 
    }

    .service-container {
        grid-template-columns: 1fr; 
        gap: 20px; 
        width: 100%; 
    }
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column; 
    }

    .contact-form {
        order: 1; 
    }

    .contact-map {
        order: 2; 
    }
}


@media screen and (max-width: 768px) {
    .Background .content div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px; /* Adds spacing between buttons */
    }

    .action-btn {
        text-align: center;
    }
}
