:root {
    /* Primary Color */
    --black: #313D63;
    --white: #EAE8F2;
    --green: #37AD31;
    --blue : #4579DC;

     /* Environment Color */
     --Everglade: #1F3E25;
     --Cararra: #EFEFE8;
     --Chelsea_Cucumber: #8EAD50;
     --Roman_Coffee : #80644E;
}

